.voltaMenu {
    width: 58px;
    height: 50px;
    top: 455px;
    left: 854px;
    position: absolute;
    background-color: #00a6ff;
    color: white;
}

.voltaMenus {
    width: 58px;
    height: 50px;
    top: 455px;
    left: 854px;
    position: absolute;
    background-color: #00a6ff;
    color: white;
}


.pix {
    display: none;
    margin-top: 136px;
    margin-left: 685px;
}

.corpo {
    background-color: white;
    width: 389px;
    height: 469px;
    padding: 36px;
    text-align: center;
    border-radius: 10px;
}

.corpo > p {
    margin-top: 22px;
    margin-bottom: 10px;
}

.corpo > h1 {
    margin-bottom: 20px;
}

.input-numeros {
    background-color: #d7d7d7a8;
    border: none;
    height: 28px;
    width: 213px;
    border-radius: 6px;
}

.botao-transferir {
    background-color: rgb(0, 166, 255);
    width: 128px;
    height: 38px;
    color: white;
    margin-left: 131px;
    border: none;
}


.pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
    display: none;
    margin-top: 136px;
    margin-left: 685px;
}

.cartao > div > img {
    max-width: 270px;
    width: 100%;
}

.imagem-de-bloqueio {
    max-width: 200px;
    width: 100%;
}

@media only screen and (max-width: 1560px) {
    .pix {
        display: none;
        margin-top: 136px;
        margin-left: 518px;
    }
    .corpo {
        position: relative;
    }
    .voltaMenu {
        top: 302px;
        left: 179px;
    }
  }

  @media only screen and (max-width: 1300px) {

  }
  @media only screen and (max-width: 1200px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 399px;
    }
  }
  @media only screen and (max-width: 1000px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 278px;
    }
  }
  @media only screen and (max-width: 800px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 226px;
    }
  }
  @media only screen and (max-width: 700px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 160px;
    }
  }
  @media only screen and (max-width: 670px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 136px;
    }
  }
  @media only screen and (max-width: 615px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 136px;
    }
    .corpo {
        width: 282px;
        height: 489px;
    }
    .botao-transferir {
        margin-left: 81px;
    }
    .voltaMenu {
        top: 302px;
        left: 127px;
    }
  }
  @media only screen and (max-width: 490px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 64px;
        margin-top: 14px;
    }
    .corpo {
        width: 234px;
        height: 492px;
    }
    .botao-transferir {
        margin-left: 52px;
    }
    .voltaMenu {
        top: 312px;
        left: 100px;
    }
  }
  @media only screen and (max-width: 415px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 77px;
        margin-top: 14px;
    }
  }
  @media only screen and (max-width: 390px) {
    .pix,.depositar,.sacar,.pagar-contas,.cartao,.investimentos,.cambio,.cheque,.seguro,.transferencia,.ancoPag,.conta {
        margin-left: 67px;
        margin-top: 14px;
    }
  }
  

  @media only screen and (max-width: 376px) {
    .pix {
        margin-left: 59px;
        margin-top: -41px;
    }
  }
